body{
    font-family: poppins;
}
header {
    background: #f5f5f5;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 3);
    display: flex;
    align-items: center;
}

header .menu-burger {
    width: 20px;
    padding: 10px;
}

header .menu-burger div {
    height: 2px;
    width: 100%;
    background: #000;
    margin: 4px auto;
}

header div p{
    padding-left: 20px;
    font-size: 1.2rem;
}

main .container {
    background-color: #DCDCD;
    height: 100vh;
    margin: 20px;
}

main .container {
    font-size: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    width : 33.3%;
    background : #DCDCDC;
    margin: 20px;
}

.item h2 {
    margin: 20px;
    font-size: 1.4rem;
}

@media screen and (max-width: 500px) {
    .item{
        width: 100%;
    }
}






/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }